<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
</head>
<body>
<h2 align="center">User list</h2>
<div align="center">
    <table border="1" style = "width: 600px; border-style: solid;">
        <tr style="text-align: center; vertical-align: middle; background: darkgrey;">
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>E-mail</th>
            <th>Operations</th>
            <th></th>
        </tr>
        <tr th:each="user : ${allUsers}"
            th:style="${user}? 'font-weight: bold; text-align: center;'">
            <td th:utext="${user.getId()}"></td>
            <td th:utext="${user.getName()}"></td>
            <td th:utext="${user.getSurName()}"></td>
            <td th:utext="${user.getAge()}"></td>
            <td th:utext="${user.getEmail()}"></td>
            <td><a th:href="@{/{id}/edit (id=${user.getId()})}">Edit</a></td>
            <td><a style="color:red" th:href="@{/{id}/delete (id=${user.getId()})}">Delete</a></td>
        </tr>

    </table>
    <br>
    <br>
    <a style="font-size: 20px; font-weight: bold;" href="/new">Add new user</a>
</div>
<p>


</p>

<p>


</p>
</body>
</html>